* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  height: 100vh;
}

header{
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

header h1{
  font-size: 2.5em;
  font-weight: bold;
}

form {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form #input {
  height: 6vh;
  width: 60vw;

  background-color: bisque;
  border-radius: 12px;
  
  color: #000;
  border-color: aliceblue;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(0, 0, 0);
}

form #btn-wrapper {
  display: flex;
}

form #btn-wrapper button {
  margin: 20px;
  height: 5vh;
  width: 15vw !important;
  max-width: 400px;
  border-radius: 10px;
  border: 0;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

form #btn-wrapper #searchbtn {
  background-color: red;
}

.imageWrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img{
  padding: 15px;
  margin: 25px;
  border: 1px solid gray;
  box-shadow: 3px 5px 8px gray;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  header h1{
    font-size: 1.5em;
  }
}